body {
  margin: 0;
  height: 100%vh;
  width: 100%vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  background-image: url('images/apples.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

 .home::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(250,225,250,0.5);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mapid {
  height: 300px;
}

.map-container {
  width: 60vw;
  height: 750px;
  float: right;
}

/* .applesImg {
  height: 30vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
} */

.tree-list{
display: inline-block;
width: 35vw;
height: 750px;
margin: 1.25rem;
padding: 1rem;
}

/* .list-item {
  line-height: 1.6rem;
} */

#form {
  padding-left: 3em;
  padding-right: 3em;
}

.header-text {
  text-align: center;
  color: white;
  font-size: 100px;
  padding-top: 8rem;
  text-shadow: black;
}

div.navbar2 {
  background-color: green;
  color: white;
}

.map-div {
  background-image: url('images/map.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  margin: 40px auto;
  width: 55vw;
  cursor: pointer;
}