body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mapid {
  height: 300px;
}

#form {
  padding-left: 3em;
  padding-right: 3em;
}

.header-text {
  text-align: center;
  color: white;
  font-size: 100px;
  padding-top: 8rem;
  text-shadow: black;
}

div.navbar2 {
  background-color: green;
  color: white;
}